{% extends 'admin.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Categorie index</h1>

        {% if categories|length > 0 %}
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Azioni</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.nom }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">voir</a>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Nessun record trovato</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Nessun record trovato.
            </div>
        {% endif %}

        <a class="btn btn-success" href="{{ path('app_categorie_new') }}">cree un nouveau</a>
    </div>
{% endblock %}
